nav
{
		background-color: deepskyblue;
		color:white;
}

nav ul
{
	list-style-type: none;
	padding: 0px;
	margin: 0pc;

}

nav ul li
{
	display: inline-block;
}
nav ul li a
{
	display: block;
	padding: 10px 14px;
	text-decoration: none;
	color:white;
}

nav ul li a:hover:not(.active) /*untuk hover*/
{
	background-color: lightskyblue;
}
.active /*untuk hover*/
{
	background-color: black;
}
